*{
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    color: darkgrey;
    margin: 5%;
}

.hoverMe:hover {
    cursor: pointer;
    color: darkred;
}

.hidden {
    display: none;
}


main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}